name: Docker Image CI



on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - uses: dorny/paths-filter@v2
      id: changes
      with:
        filters: |
          php-fpm:
            - 'php-fpm/**'
          demobot:
            - 'demobot/**'
          devsource:
            - 'devsource/**'
          updater:
            - 'updater/**'
          sbox:
            - 'sbox/**'
   
    - name: Log into registry
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

    - id: read-docker-image-identifiers
      name: Read Docker Image Identifiers
      run: echo "REPOSITORY_OWNER=$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
    
    - if: steps.changes.outputs.php-fpm == 'true'
      name: Build and push the php-fpm
      run: |
          docker build -t ghcr.io/${{ env.REPOSITORY_OWNER }}/php-fpm php-fpm
          docker push ghcr.io/${{ env.REPOSITORY_OWNER }}/php-fpm

    - if: steps.changes.outputs.demobot == 'true'
      name: Build and push the demobot
      run: |
          docker build -t ghcr.io/${{ env.REPOSITORY_OWNER }}/demobot demobot
          docker push ghcr.io/${{ env.REPOSITORY_OWNER }}/demobot
          
    - if: steps.changes.outputs.devsource == 'true'
      name: Build and push the devsource
      run: |
          docker build -t ghcr.io/${{ env.REPOSITORY_OWNER }}/devsource devsource
          docker push ghcr.io/${{ env.REPOSITORY_OWNER }}/devsource

    - if: steps.changes.outputs.updater == 'true'
      name: Build and push the updater
      run: |
          docker build -t ghcr.io/${{ env.REPOSITORY_OWNER }}/updater updater
          docker push ghcr.io/${{ env.REPOSITORY_OWNER }}/updater
